weathercloud.nearbyDevicesUrl=https://app.weathercloud.net/page/coordinates/latitude/{latitude}/longitude/{longitude}/distance/{distance}

# The device ID of your weather station. You can see this in most of the
# URLs for your device. Sometimes it has a 'd' at the beginning. You
# just need the numeric part.
weathercloud.device.code=1234567890

# The latitude and longitude (approximately) of your weather station,
# in decimal degrees (not degrees/minutes/seconds).
# The app finds your device by asking weathercloud for all stations
# within a mile of this point, and that needs to include your station.
weathercloud.device.longitude=-81.390358
weathercloud.device.latitude=28.670401

venstar.baseUrl=https://api.skyportcloud.com/
# Email address and password for the venstar SkyPort account
venstar.emailAddress=user@example.org
venstar.password=mypassword
# Device ID of the thermostat
venstar.deviceId=1234567890

# How frequently to check the temperature
monitor.rate=25m
# The minimum temperature. The app will alert if below this,
# until it is back above this temperature.
monitor.minimumTemperature=45.5
# Maximum age (in seconds) of the temperature reading at
# weathercloud. The app will alert if the reading is older
# than this, since it means the weather station isn't uploading.
monitor.maximumAgeSeconds=1500
# Which method to use to get the temperature, one of:
#   weathercloud - a WeatherCloud weather station
#   venstar      - a Venstar thermostat
monitor.temperatureProvider=venstar

# Email addresses to notify when there's an alert. Separate addresses
# with a comma.
email.recipients=someone@example.com,another-person@example.com
# SMTP server to use to send email
email.host=localhost
email.port=25

logging.level.org.loudermilk=DEBUG